.dashboard-container {
  font-family: sans-serif;
  background-color: white;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}

.portal-title h2 {
  color: #007bff;
  margin: 0;
}

.navbar {
  background-color: #007bff;
  padding: 10px;
}

.navbar ul {
  display: flex;
  list-style: none;
  justify-content: space-around;
  margin: 0;
  padding: 0;
}

.navbar li {
  color: white;
  font-weight: bold;
  cursor: pointer;
}

.dashboard-main {
  padding: 110px;
  text-align: center;
}

.authority-info {
  font-weight: bold;
  margin-bottom: 20px;
  color: maroon;
}

.card-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.dashboard-card {
  border: 2px solid #007bff;
  padding: 20px;
  width: 250px;
  margin: 10px;
  border-radius: 8px;
  background-color:#5a648a;
}

.dashboard-card .count {
  font-size: 1.2em;
  margin: 5px 0;
}

.dashboard-card .count.red {
  color: white;
}

.footer {
  background-color: #007bff;
  color: white;
  padding: 10px;
  font-size: 0.9em;
}
.portal-title {
    text-align: center;
    color: blue;
    border: 0.5px solid red;
}
